<!DOCTYPE html>
<html ng-app="dodApp">
  <head>
    <title>Dreams of Darkness Haunted House</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="./main.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Philosopher|IM+Fell+DW+Pica' rel='stylesheet' type='text/css'>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="jquery.lettering.js"></script>
    <script type="text/javascript" charset="utf-8">
    </script>
    <script src="http://www.google-analytics.com/ga.js" type="text/javascript" charset="utf-8"></script>
    <script src="angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="angular-touch.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="dod.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div class="navbar-wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <a href="#" class="navbar-brand">Dreams Of Darkness <span class="hh-text">Haunted House</span></a>
          <ul class="nav navbar-nav pull-right visible-md visible-lg">
            <li><a href="mailto:info@dreamsofdarkness.com" onClick="trackOutboundLink(this, 'Social Link', 'email'); return false;"><i class="icon-envelope"></i></a></li>
            <li><a href="http://www.facebook.com/thedreamsofdarkness" onClick="trackOutboundLink(this, 'Social Link', 'facebook'); return false;"><i class="icon-facebook"></i></a></li>
            <li><a href="http://twitter.com/reddinghaunt" onClick="trackOutboundLink(this, 'Social Link', 'twitter'); return false;"><i class="icon-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="jumbotron">
      <div class="marketing-text">
        <div class="container">
          <div class="letter-container">
            <span lettering>Darkness is coming...</span>
          </div>
        </div>
      </div>
    </div>
    <div class="order-form-wrapper" id="order-form" ng-controller="OrderCtrl">
      <div class="container">
        <center ng-show="purchased" style="color: #000; font-size: 20px; line-height: 30px;">Thank you for your purchase! You will receive your tickets by email.<br />If you do not receive your tickets within an hour, please get in touch.</center>
        <form class="order-form" ng-hide="purchased"
          method="POST" action="https://{{env}}.paypal.com/cgi-bin/webscr" target="_top">
          <input type="hidden" name="button" value="buynow" />
          <input type="hidden" name="business" value="FDPLGAHEC8LWY" />
          <input type="hidden" name="item_name" value="{{ticket_type || 'Night'}}" />
          <input type="hidden" name="quantity" value="{{qty || 1}}" />
          <input type="hidden" name="amount" value="{{amount || 15}}" />
          <input type="hidden" name="currency_code" value="USD" />
          <input type="hidden" name="notify_url" value="http://ipn.dapperpr.com/dod" />
          <input type="hidden" name="bn" value="JavaScriptButton_buynow" />
          <input type="hidden" name="cmd" value="_xclick" />
          <input type="hidden" name="env" value="{{env}}" />
          <input type="hidden" name="custom" value="{{uuid}}" />
          <legend class="hidden-md hidden-lg">Buy Tickets</legend>
          <div class="row">
            <label class="control-label col-md-2 visible-lg visible-md" for="qty">Order Tickets:</label>
            <div class="col-md-2 col-12">
              <select id="qty" class="form-control" ng-model="qty">
                <option value="0">How Many?</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
            <div class="col-md-3 col-12">
              <select id="time" class="form-control" ng-model="ticket_type">
                <option value="0">What Time of Day?</option>
                <option value="Night">Night - $15 each</option>
                <option value="Day">Afternoon - $6 each</option>
              </select>
            </div>
            <div class="col-md-3 col-12">
              <select class="form-control how-hear" ng-model="how_hear">
                <option value="0">How did you hear about us?</option>
                <option value="internet">The Interwebs</option>
                <option value="tv">TV Commercial</option>
                <option value="radio">Radio Ad</option>
                <option value="friend">From a Friend</option>
                <option value="existing">I've Been There Before</option>
              </select>
            </div>
            <div class="col-md-2 col-12">
              <button type="submit" class="btn btn-danger btn-block btn-small form-submit">
                Get Tickets
                <span ng-show="total">: <b>{{total | currency}}</b></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="media">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-12">
            <a class="thumbnail" target="_blank" 
              href="http://www.youtube.com/watch?v=Qxoh1jSxFFI"
              onClick="trackOutboundLink(this, 'Outbound Link', 'youtube-trailer'); return false;">
              <img src="http://img.youtube.com/vi/Qxoh1jSxFFI/mqdefault.jpg" alt="Watch the Trailer" />
            </a>
            <h3>Watch the Trailer</h3>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="marketing-copy">
          We are Redding's only commercial haunted house
          and the largest in the north state.
        </div>
        <div class="row">
          <div class="col-12 col-sm-4 col-lg-4">
            <h3><i class="icon-map-marker"></i>&nbsp;&nbsp;Location</h3>
            <address>
              Located at <a href="http://nashranch.com" onClick="trackOutboundLink(this, 'Outbound Link', 'nashranch.com'); return false;">Nash Ranch</a><br />
              10925 Old Oregon Trail<br />
              Redding, CA 96003<br /><br />
              <a href="https://maps.google.com/maps/?q=10925+Old+Oregon+Trail%2C+Redding%2C+CA+96003"
                class="btn btn-danger btn-block btn-lg"
                target="_new"
                onClick="trackOutboundLink(this, 'Outbound Link', 'directions'); return false;">Get Directions</a>
            </address>
          </div>
          <div class="col-12 col-sm-4 col-lg-4" ng-init="showPhone = false">
            <h3><i class="icon-comment"></i>&nbsp;&nbsp;Get in Touch</h3>
            <div class="social">
              <ul class="list-inline">
                <li><a href="mailto:info@dreamsofdarkness.com" onClick="trackOutboundLink(this, 'Social Link', 'email'); return false;"><i class="icon-envelope"></i></a></li>
                <li><a class="phone-click" href="" ng-click="showPhone = !showPhone"><i class="icon-phone"></i></a></li>
                <li><a href="http://www.facebook.com/thedreamsofdarkness" onClick="trackOutboundLink(this, 'Social Link', 'facebook'); return false;"><i class="icon-facebook"></i></a></li>
                <li><a href="http://twitter.com/reddinghaunt" onClick="trackOutboundLink(this, 'Social Link', 'twitter'); return false;"><i class="icon-twitter"></i></a></li>
              </ul>
            </div>
            <h3 class="phone-number" ng-class="{ show: showPhone }">530.710.2277</h3>
          </div>
          <div class="col-12 col-sm-4 col-lg-4">
            <h3><i class="icon-ticket"></i>&nbsp;&nbsp;Tickets</h3>
            <p>Explore the Darkness this October:</p>
            <ul class="list-unstyled tickets">
              <li>
                <b>Nights - $15</b><br />
                Fri and Sat 7pm-11pm<br />
                Oct 29<sup>th</sup> - Oct 31<sup>st</sup> 7pm-9:30pm
              </li>
              <li>
                <b>Afternoons - $6</b><br />
                Sat and Sun 12pm-4pm
              </li>
            </dl>
            <a href="#order-form" class="btn btn-danger btn-lg hidden-md hidden-lg">Get Tickets</a>
          </div>
        </div>
      </div>
    </footer>


    <script type="text/javascript" charset="utf-8">
      $(function () {
        $(".phone-click").on('click', function (e) {
          e.preventDefault();
          trackOutboundLink(this, 'Social Link', 'phone', true);
        });

        $(".form-submit").on('click', function ( e ) {
          var _this = this;
          _gaq.push(['_set','hitCallback',function() {
            $(_this).parents('form').first().submit(); 
            console.log("submit");
          }]);
          _gaq.push(['_trackEvent', 'Purchase Intent', $(".how-hear").val() ]);
          return !window._gat; 
        });
      });
    </script>
    <script type="text/javascript">
    </script>
  </body>
</html>

